[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
types-orjson = "*"
orjson = "*"
orjsonl = "*"
dependency_injector = "*"
sanic = "*"
aiologger = "*"
aiofiles = "*"
faker = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-randomly = "*"
pytest-timeout = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-trio = "*"

[requires]
python_version = "3.10"
